/* style navbar */
nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

nav .btn-primary {
    font-size: 0.9rem;
    background-color: #f3a617;
    border: 1.5px solid #f3a617;
}

nav .btn-primary:hover {
    font-size: 0.9rem;
    border: 1.5px solid #f3a617;
    background-color: #f3a617;
}

nav .btn-outline-secondary {
    font-size: 0.9rem;
}
/* end style navbar */


/* style Hero */
.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hero a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hero .btn-primary {
    background-color: #f3a617;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}

.hero .btn-primary:hover {
    background-color: #c68307;
    border: none;
}
/* end style Hero */
