/* style navbar */
nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

nav .btn-primary {
    font-size: 16px;
    font-weight: 600;
    background-color: #f3a617;
    border-color: #f3a617;
}

nav .btn-primary:hover {
    font-size: 16px;
    border-color: #c68205;
    background-color: #c68205;
}

nav .btn-outline-secondary {
    font-size: 16px;
    font-weight: 600;
    border-color: #BCD0E5;
    color: #173A56;
}

@media (max-width: 768px) {
    nav .btn-primary {
        margin-top: 10px;
    }

    nav .btn-outline-secondary {
        margin-top: 10px;
    }
}
/* end style navbar */


/* style Hero */
.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hero a{
    font-family: 'Poppins', sans-serif;
}

.hero .btn-primary {
    background-color: #f3a617;
    border: none;
    font-weight: 700;
}

.hero .btn-primary:hover {
    background-color: #c68307;
    border: none;
}

.btn-link {
    color: #f3a617;
    text-decoration: underline;
    font-weight: 700;
}

@media (max-width: 768px){
    .hero img {
        margin-bottom: 35px;
    }
    
    .hero .btn-primary {
        font-size: 0.9em;
    }

    .hero .btn-link {
        font-size: 0.9em;
    }
}
/* end style Hero */

/* style section Service */
.service {
    margin-top: 9rem;
    font-family: 'poppins', sans-serif;
}

.service h1 {
    font-weight: 700;
}

.card {
    border: 0;
    width: 14rem;
    background-color: transparent;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-weight: 500;
}

.icon-1 {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-color: #7752BE;
    box-shadow: 0px 10px 18px -4px #7752BE;
}

.icon-2 {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-color: #FAB005;
    box-shadow: 0px 10px 18px -4px #FAB005;
}

.icon-3 {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-color: #F03E3D;
    box-shadow: 0px 10px 18px -4px #F03E3D;
}

.icon-4 {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-color: #4DADF7;
    box-shadow: 0px 10px 18px -2px #4DADF7;
}

.services {
    margin-top: 5rem;
}

.background-service{
    background-image: url(../images/Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
}

.service .btn-primary {
    background-color: #f3a617;
    border: none;
    font-weight: 700;
}

.service .btn-primary:hover {
    background-color: #c68307;
    border: none;
}
/* end style section Service */

/* style section 3 */
.section-3 {
    margin-top: 9rem;
}

.section-3 h1{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.section-3 p {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

.section-3 h6 {
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}
/* end style section 3 */

/* style section 4 */
.section-4 {
    margin-top: 9rem;
    font-family: 'poppins', sans-serif;
}

.section-4 p {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

.section-4 h1 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}
/* end style section 4 */

/* style section 5 */
.section-5 {
    margin-top: 9rem;
    font-family: 'poppins', sans-serif;
}

.section-5 h1{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.section-5 p {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

.section-5 h6 {
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}
/* end style section 5 */

/* style section 6 */
.section-6 {
    background-image: url(../images/bg-section-6.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    margin-top: 9rem;
    font-family: 'poppins', sans-serif;
}

.section-6 h1 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.section-6 .btn-primary {
    background-color: #f3a617;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 30px;
}

.section-6 .btn-primary:hover {
    background-color: #c68307;
    border: none;
}
/* end style section 6 */

/* style section 7 */
.section-7 {
    margin-top: 9rem;
    font-family: 'poppins', sans-serif;
}

.section-7 h1, .section-7 h5 {
    font-weight: 700;
}

